{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Auteur list</h1> {% include 'ExempleAnnotationBundle:Default:menu.html.twig'%}

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lenom</th>
                <th>Leprenom</th>
                <th>Labio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('auteur2_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.lenom }}</td>
                <td>{{ entity.leprenom }}</td>
                <td>{{ entity.labio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('auteur2_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('auteur2_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('auteur2_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
